@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 85%, 52%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--Very-Light-Gray);
}
.header-container {
    width: 18.75rem;
    height: 10rem;
    margin: 5.75rem auto 4.6875rem;
}
.header__title-text {
    font-size: 1.5rem;
    text-align: center;
    color: var(--Very-Dark-Blue);
}
.header__title-text--thin {
    font-weight: 200;
}
.header__title-text--bold {
    font-weight: 600;
    margin-top: .875rem;
}
.header__title-subtitle-text--light {
    font-size: 1rem;
    color: var(--Grayish-Blue);
    font-weight: 400;
    margin-top: .875rem;
    line-height: 1.5625rem;
    letter-spacing: -0.01875rem;
}

.main__cards-container__card{
    width: 19.625rem;
    height: 13.75rem;
    margin: 0 auto;
    text-align: left;
    padding: 1.75rem 1.6875rem 1.875rem;
    border-radius: .25rem;
    margin-bottom: 1.625rem;
    box-shadow: .0625rem 1.125rem 1.8125rem -0.75rem rgba(146,149,181,0.45);
    position: relative;
}
.card-cyan-left {
    border-top: .1875rem solid var(--Cyan);
}
.card-red-top {
    border-top: .1875rem solid var(--Red);
}
.card-orange-bottom {
    border-top: .1875rem solid var(--Orange);
}
.card-blue-right {
    border-top: .1875rem solid var(--Blue);
}
.main__cards-container__card-title {
    font-size: 1.25rem;
    color: var(--Very-Dark-Blue);
    margin-bottom: .25rem;
    
}
.main__cards-container__card-text {
    font-size: .75rem;
    line-height: 1.5rem;
    color: var(--Grayish-Blue);
    font-weight: 400;
    letter-spacing: .03125rem;
}
.card-icon {
    width: 3.625rem;
    height: 3.625rem;
    position: absolute;
    left: 13.875rem;
    top: 8.5rem;
}
.attribution {
    font-size: .6875rem;
    text-align: center;
    margin-top: 5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:78.125rem) {
    .header-container {
        width: 32.0625rem;
        height: 10.9375rem;
        margin: 5.375rem auto 3.875rem
    }
    .header__title-text {
        font-size: 2.25rem;
    }
    .main__cards-container {
        width: 70rem;
        height: 33.75rem;
        margin: 0 auto 4.8125rem;
        position: relative;
    }
    .main__cards-container__card{
        width: 22.25rem;
        height: 16.125rem;
        margin: 0;
    }
    .card-cyan-left {
        position: absolute;
        top: 8.5625rem;
        left: 0;
    }
    #cyan-text {
        width: 14.25rem;
    }
    #blue-text {
        width: 16.125rem;
    }
    .card-red-top {
        width: 22rem;
        height: 15.75rem;
        position: absolute;
        top: 0;
        left: 23.8125rem;
    }
    .card-orange-bottom {
        width: 22rem;
        height: 15.75rem;
        position: absolute;
        bottom: 0;
        left: 23.8125rem;
    }

    .card-blue-right {
        position: absolute;
        top: 8.5625rem;
        right: 0;
    }
    .card-icon {
        position: absolute;
        width: 3.625rem;
        height: 3.625rem;
        right: 2rem;
        bottom: 2rem;
        left: unset;
        top: unset;
    }
}